body {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
input {
    font-size:1em;
}
button {
    font-size:1em;
}
.control {
    padding: .5em;
    }
div {
    border: solid;
    text-align: left;
    margin: 0px;
    padding: .1vh;
    border-radius: 3px;
    border-color: darkgrey;
    height: 2em;
}
header {
    text-align:center;
}