body {
display:flex;
flex-wrap:wrap;
flex-direction:column;
height:100vh;
margin:0;
padding:0;
}

.timer{
    font-size:4vh;
    border:solid;
    text-align:center;
    margin:0px;
    padding:.1vh;
    border-radius:3px;
    border-color:darkgrey;
}